[Desktop Entry]
    Type=Application
    Exec=/home/{{ user }}/.dropbox-dist/dropboxd
    Hidden=false
    NoDisplay=false
    X-GNOME-Autostart-enabled=true
    Name[en_US]=Dropbox
    Name=Dropbox
    Comment[en_US]=
    Comment=