[Desktop Entry]
  Encoding=UTF-8
  Name=Postman
  Exec=/home/{{ user }}/bin/Postman/app/Postman %U
  Icon=/home/{{ user }}/bin/Postman/app/resources/app/assets/icon.png
  Terminal=false
  Type=Application
  Categories=Development;