[Desktop Entry]
    Type=Application
    Exec=/home/{{ user[0] }}/bin/Telegram/Telegram/Telegram
    Icon=/home/{{ user[0] }}/bin/Telegram/Telegram/telegram_logo.png
    Hidden=false
    NoDisplay=false
    Name=Telegram
    Comment=