[Desktop Entry]
    Type=Application
    Exec=/home/{{ user }}/bin/Telegram/Telegram
    Icon=/home/{{ user }}/bin/Telegram/telegram_logo.png
    Hidden=false
    NoDisplay=false
    Name[en_US]=Telegram
    Name=Telegram
    Comment[en_US]=
    Comment=